<!DOCTYPE html>
<html lang="pt">
<head>
	<meta charset="UTF-8">
	<title>Edição de Disciplinas</title>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="#">Navegação</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
		  <span class="navbar-toggler-icon"></span>
		</button>
	  
		<div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link" href="/">Home <span class="sr-only">(página atual)</span></a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" href="/alunos">Alunos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/biblioteca">Biblioteca</a>
			  </li>
			<li class="nav-item">
				<a class="nav-link" href="/cursos">Cursos</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/disciplinas">Disciplinas</a>
			  </li>
			<li class="nav-item">
				<a class="nav-link" href="/funcionario">Funcionários</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/professores">Professores</a>
			  </li>
		</div>
	  </nav>
</head>
<body>
	<div class="container">
		<h2 class="font-weight-bold text-center mb-4">Editar Disciplina</h2>
		<% data.forEach(function(details) { %>
			<form action="/disciplinas/edit/<%= details._id %>" method="POST">
				<div class="form-group">
					<label for="codigo">Código</label>
					<input type="text" class="form-control" value="<%= details.codigo %>" name="codigo">
				</div>
				<div class="form-group">
					<label for="nome">Nome</label>
					<input type="text" class="form-control" value="<%= details.nome %>" name="nome">
				</div>
				<div class="form-group">
					<label for="professor">Professor</label>
					<input type="text" class="form-control" value="<%= details.professor %>" name="professor">
				</div>
				<div class="form-group">
					<label for="curso">Curso</label>
					<input type="text" class="form-control" value="<%= details.curso %>" name="curso">
				</div>
				<div class="form-group">
					<label for="turno">Turno</label>
					<input type="text" class="form-control" value="<%= details.turno %>" name="turno">
				</div>
				<div class="form-group">
					<label for="horario">Horário</label>
					<input type="text" class="form-control" value="<%= details.horario %>" name="horario">
				</div>
				<div class="form-group">
					<label for="salafisica">Sala</label>
					<input type="text" class="form-control" value="<%= details.sala %>" name="sala">
				</div>
				<div class="form-group">
					<label for="quantidadealunos">Quantidade de alunos</label>
					<input type="text" class="form-control" value="<%= details.qtdalunos %>" name="qtdalunos">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary mr-1">Salvar</button>
					<button class="btn btn-secondary"><a class="text-decoration-none text-reset" href="/disciplinas/show">Cancelar</a></button>
				</div>
			</form>
		<% }) %>
	</div>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>