<!DOCTYPE html>
<html lang="en">
  <head>

    <!--
        Aluno: Luan Silva Gomes
        Matrícula: 364162007 
     -->

    <meta charset="UTF-8" />
    <title>Editar Cadastro de Professores</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <style>
      input,
      select {
        margin-bottom: 10px !important;
      }
    </style>
  </head>
  <body>

    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navegação</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/">Home <span class="sr-only">(página atual)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/alunos">Alunos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/biblioteca">Biblioteca</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/cursos">Cursos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/disciplinas">Disciplinas</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/funcionario">Funcionários</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/professores">Professores</a>
              </li>
        </div>
      </nav>
    </header>

    <section class="container">
      <h2>Editar Registro</h2>
      <% data.forEach(function(details) { %>
      <form action="/professores/edit/<%= details._id %>" method="POST">
        <input
          class="form-control"
          type="text"
          value="<%= details.nome %>"
          name="nome"
        />

        <input
          class="form-control"
          type="date"
          value="<%= details.dataNas %>"
          name="dataNas"
        />

        <input
          class="form-control"
          type="text"
          value="<%= details.endereco %>"
          name="endereco"
        />

        <input
          class="form-control"
          type="email"
          value="<%= details.email %>"
          name="email"
        />

        <input
          class="form-control"
          type="text"
          value="<%= details.ctps %>"
          name="ctps"
        />

        <select class="form-control" name="titulo">
          >
          <option value="<%= details.ctps %>"><%= details.titulo %></option>
          <option value="especialista">Especialista</option>
          <option value="mestre">Mestre</option>
          <option value="doutor">Doutor</option>
          <option value="phd">PhD</option>
        </select>

        <input
          class="form-control"
          type="text"
          value="<%= details.formacao %>"
          name="formacao"
        />

        <input
          class="form-control"
          type="text"
          value="<%= details.matricula %>"
          name="matricula"
        />

        <br />
        <button class="btn btn-secondary">
          <a class="text-decoration-none text-reset" href="/professores/show"
            >Todos</a
          >
        </button>
        <button class="btn btn-primary" type="submit">Editar</button>
      </form>
      <% }) %>
    </section>
  </body>
</html>
