<!DOCTYPE html>
<html lang="en">
<head>

    <!--
        Aluno: Luan Silva Gomes
        Matrícula: 364162007 
     -->
     
  <meta charset="UTF-8">
  <title>Lista de Professores Cadastrados</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        table, button{font-size: 16px !important;}
    </style>
</head>
<body>

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <a class="navbar-brand" href="#">Navegação</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(página atual)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/alunos">Alunos</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/biblioteca">Biblioteca</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/cursos">Cursos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/disciplinas">Disciplinas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/funcionario">Funcionários</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="/professores">Professores</a>
                </li>
          </div>
        </nav>
      </header>

    <section class="container-sm">
        <h2>Professores Cadastrados<h2>
        <table class="table table-bordered table-sm table-hover">
            <thead>
                <tr>
                    <td scope="row">Nome</td>
                    <td>Nascimento</td>
                    <td>Endereço</td>
                    <td>E-mail</td>
                    <td>CTPS</td>
                    <td>Titulação</td>
                    <td>Área</td>
                    <td>Matrícula</td>
                    <td>Ações</td>
                </tr>
            </thead>
            <tbody>
            <% data.forEach(function(details) { %>
                <tr>
                    <td scope="row"><%= details.nome %></td>
                    <td><%= details.dataNas %></td>
                    <td><%= details.endereco %></td>
                    <td><%= details.email %></td>
                    <td><%= details.ctps %></td>
                    <td><%= details.titulo %></td>
                    <td><%= details.formacao %></td>
                    <td><%= details.matricula %></td>
                    <td>
                    <a class="text-decoration-none btn btn-success btn-sm" href="/professores/edit/<%= details._id %>">Editar</a>
                    - 
                    <a class="text-decoration-none btn btn-danger btn-sm" href="/professores/delete/<%= details._id %>">Excluir</a>
                    </td>
                </tr>
                <% }) %>
            </tbody>
        </table>
        <button class="btn btn-secondary"><a class="text-decoration-none text-reset" href="/professores">Voltar</a></button>
    </section>
</body>
</html>